<%= form_with(model: shop, local: true) do |s| %>

	<div class="field">
		<%= s.label :name	 %>
		<%= s.text_field :name %>
	</div>

	<div class="field">
		<%= s.label :address %>
		<%= s.text_field :address %>
	</div>

	<div class="field">
		<%= s.label :url %>
		<%= s.text_field :url %>
	</div>

	<div class="field">
		<%= s.label :shop_image %>
		<%= s.file_field :shop_image %>
		<input id="shop_filename" readonly type="text" value="" >
		<button type="button" id="shop_select_file_button"class="waves-effect waves-light btn">
			<i class="material-icons right">collections</i>画像を選ぶ</button>
	</div>

  <div class="actions">
    <%= s.submit %>
  </div>

<% end %>
