<% if shops.present? %>
			<table>
					<thead>
						<tr>
							<th>&nbsp;</th>
							<th><%= Shop.human_attribute_name(:name)%></th>
							<th><%= Shop.human_attribute_name(:address)%></th>
							<% if user_signed_in? && @liked_shops.nil?%>
								<th>&nbsp;</th>
							<% else %>
								<th>Like</th>
							<% end %>
							<th>&nbsp;</th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<% Array(shops).each do |shop| %>
						 <% unless shop.name.nil? %>
							<tr>
								<td>
									<% if shop.shop_image? %>
										<%=link_to image_tag(shop.shop_image.to_s, :id => 'shop_image'), shop_path(shop)%>
									<% else%>
										<%=link_to image_tag('C0FEE.png', :id => 'no_shop_image'), shop_path(shop)%>
									<% end %>
								</td>
								<td><%= link_to shop.name, shop.url, target: :_blank, rel: :noopener %></td>
								<td><%= shop.address %></td>
									<% if user_signed_in? && @liked_shops.nil?%>
										<td style="text-align: center" id="shop_like_button_<%= shop.id %>"><%= render 'shop_likes/like_shop_button', shop: shop%></td>
										<td style="text-align: center"><%= link_to t('.edit_shop'), edit_shop_path(shop)%></td>
										<td style="text-align: center"><%= link_to t('.register_bean'), new_bean_path(id: shop.id),class: 'register_bean' %></td>
									<% else %>
										<td><%= shop_liked_counts(shop) %></td>
									<% end %>
							</tr>
						 <% end %>
						<% end %>
					</tbody>
				</table>
			<%= paginate shops %>
	<% end %>
