<% if shops.present? %>
	<% Array(shops).each do |shop| %>
		<div class="col s12 m6 l3">
			<div class="card medium">
				<div class="card-image shop-image">
					<div id="shops_image">
						<% if shop.shop_image? %>
							<%=link_to image_tag(shop.shop_image.to_s, :id => 'shops_image'), shop_path(shop) %>
						<% else%>
							<%=link_to image_tag('C0FEE.png', :id => 'no_shops_image'), shop_path(shop) %>
						<% end %>
					</div>
				</div>

				<div class="card-shop-info">
					<p class="shop-name"><%= link_to shop.name, shop_path(shop) if shop.name.present? %></p>
					<p><%= link_to shop.address.truncate(17), "https://www.google.com/maps/search/?api=1&query=#{shop.name}", target: :_blank, class: "black-text" if shop.address.present? %></p>
				</div>

				<div class="card-action">
					<% if user_signed_in? && @liked_beans.nil? %>
						<span id="shop_like_button_<%= shop.id %>" ><%= render 'shop_likes/like_shop_button', shop: shop %></span>
					<% else %>
						<span class="red-text"><i class="material-icons">favorite</i><%= shop_liked_counts(shop) %></span>
					<% end %>
					<span class="register_bean">
						<%= link_to new_bean_path(id: shop.id),class: "tooltipped red-text",data:{position:"top", tooltip: t('.register_bean')} do %>
							<%= content_tag :i, "add", class: "material-icons" %>
						<% end %>
					</span>
					<i class="card-title material-icons right activator">more_vert</i>
				</div>

				<div class="card-reveal center-align">
					<p class="card-title material-icons right">close</p>
					<h5><%= link_to shop.name, shop.url, target: :_blank %></h5>
					<p><%= link_to shop.address, "https://www.google.com/maps/search/?api=1&query=#{shop.latitude},#{shop.longitude}", target: :_blank, class: "black-text" %></p>
					<span>
						<%= link_to new_bean_path(id: shop.id),class: "tooltipped red-text",data:{position:"top", tooltip: t('.register_bean')} do %>
							<%= content_tag :i, "add", class: "material-icons" %>
						<% end %>
						<%= link_to edit_shop_path(shop),class: "tooltipped red-text",data:{position:"top", tooltip: t('.edit')} do %>
							<%= content_tag :i, "edit", class: "material-icons" %>
						<% end %>
					</span>
				</div>
			</div>
		</div>
	<% end %>
<% end %>
