<% if shop.present? %>
		<div id="shop_plofile" >
		<% if shop.shop_image? %>
			<%= image_tag shop.shop_image.to_s, :size => '750x750' %>
		<% else%>
			<%= image_tag 'C0FEE.png', :size => '750x750' %>
		<% end %>

		</div>
			<table>
				<tbody>
					<% Array(shop).each do |shop| %>
						<tr>
							<td id="shop_url_td"><%= link_to shop.url,shop.url, target: :_blank, rel: :noopener %></td>
						</tr>
						<% if user_signed_in? %>
							<tr>
								<td id="shop_like_button_<%= shop.id %>"><%= render 'shop_likes/like_shop_button', shop: shop %></td>
							</tr>
							<tr>
								<td><%= link_to t('.register_bean'), new_bean_path(id: shop.id),class: 'register_bean' %></td>
							</tr>
							<tr>
								<td><%= link_to t('.edit_shop'), edit_shop_path(shop)%></td>
							</tr>
						<% end %>
						<tr>
							<td><%= shop.address %></td>
						</tr>
						<tr>
						</tr>
					<% end %>
				</tbody>
			</table>
	<div id="map" style="width100%; height: 500px;"></div>
<% end %>
<script>
	function initMap() {
		var latlng = new google.maps.LatLng(<%= @shop.latitude%>,<%= @shop.longitude%>);

		var map = new google.maps.Map(document.getElementById('map'), {
			zoom: 16,
			center: latlng
		});

		var marker = new google.maps.Marker({
				position: latlng,
				map: map,
				title: "<%= @shop.name %>"
			});
	}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.gcp[:gmap_api_key]%>&callback=initMap" async defer></script>
