<% if shop.present? %>

	<span class="row left">
		<div class="card">
			<% if shop.shop_image? %>
			<%= image_tag shop.shop_image.to_s, size: '690x640'%>
			<% else %>
			<%= image_tag 'C0FEE.png', size: '690x640'%>
			<% end %>
		</div>
	</span>

	<span id="shop_info" class="right">
		<table>
			<tbody>
				<tr>
					<td>
						<span><h3><%= link_to @shop.name, @shop.url, target: :_blank, rel: :noopener %></h3></span>
					</td>
				</tr>
				<tr><td><%= shop.address %></td></tr>
				<tr><td><div id="map" style="width100%; height: 350px;"></div></td></tr>
				<tr>
					<td>
						<span id="shop_like_button_<%= shop.id %>"><%= render 'shop_likes/like_shop_button', shop: shop %>
						<%= render 'beans/register_bean_button', shop: shop %>
						<%= render 'shops/edit_shop_link', shop: shop %>
						</span>
					</td>
				</tr>
			</tbody>
		</table>
<% end %>
<script>
$(window).on('load', function() {
    $('#shop_info .material-icons').removeClass('small');
		$('#shop_info .material-icons').addClass('medium');
});
</script>
<script>
	function initMap() {
	var latlng = new google.maps.LatLng(<%= @shop.latitude %>,<%= @shop.longitude %>);

	var map = new google.maps.Map(document.getElementById('map'), {
		zoom: 16,
		center: latlng
	});

	var marker = new google.maps.Marker({
			position: latlng,
			map: map,
			title: "<%= @shop.name %>"
		});
	}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.gcp[:gmap_api_key]%>&callback=initMap" async defer></script>

