<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Adress</th>
				<th>Url</th>
			</tr>
		</thead>

		<tbody>
			<% Array(@shop).each do |shop| %>
				<tr>
					<td><%= shop.name %></td>
					<td><%= shop.adress %></td>
					<td><%= link_to shop.url, shop.url, target: :_blank, rel: :noopener %></td>
					<% if current_user == @bean.user %>
						<td><%= link_to 'Edit', edit_shop_path(shop) %></td>
						<td><%= link_to 'Destroy', shop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
					<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
