<h3 id="shop_name"><%= link_to @shop.name, @shop.url, target: :_blank, rel: :noopener %></h3>
<%= render 'shop', shop: @shop%>
<h4><%= t('.registered_bean') if @beans.present?%></h4>
<%= render 'beans/beans', beans: @shop.beans.page(params[:page])%>
<%= link_to t('.back'), :back %>

