<div class="beans">
<h1>Latest Beans</h1>

	<table>
		<thead>
			<tr>
				<th>image</th>
				<th>User</th>
				<th>Country</th>
				<th>Area</th>
				<th>Variety</th>
				<th>Sour</th>
				<th>Sweet</th>
				<th>Bitter</th>
				<th>Shop</th>
				<th>Price</th>
			</tr>
		</thead>

		<tbody>
			<% Array(@beans).each do |bean| %>
				<tr>
					<td id="bean_image_td"><%= image_tag bean.bean_image.to_s, :id => 'bean_image' if bean.bean_image? %></td>
					<td><%= bean.user.username%></td>
					<td><%= bean.country %></td>
					<td><%= bean.area %></td>
					<td><%= bean.variety %></td>
					<td><%= bean.impression.i_sour%></td>
					<td><%= bean.impression.i_sweet%></td>
					<td><%= bean.impression.i_bitter%></td>
					<td><%= link_to bean.shop.name, shop_path(id: bean.shop.id) %></td>
					<td><%= bean.price %>$/100g</td>
					<td><%= link_to 'Detail', bean %></td>
					<% if current_user == bean.user %>
					<td><%= link_to 'Edit', edit_bean_path(bean) %></td>
					<td><%= link_to 'Destroy', bean, method: :delete, data: { confirm: 'Are you sure?' } %></td>
					<% end %>
					</tr>
			<% end %>
		</tbody>
	</table>
 <%= link_to "more" ,beans_url%>
</div>

<div class="recipes">
<h1>Latest Recipes</h1>

	<table>
		<thead>
			<tr>
				<th>Bean</th>
				<th>Name</th>
				<th>Grind</th>
				<th>Extraction</th>
				<th>Sour</th>
				<th>Sweet</th>
				<th>Bitter</th>
				<th>Aroma</th>
				<th>Fullbody</th>

			</tr>
		</thead>

		<tbody>
			<% Array(@recipes).each do |recipe| %>
				<tr>
					<td><%= link_to recipe.bean.country, bean_path(id: recipe.bean.id) %></td>
					<td><%= recipe.name %></td>
					<td><%= recipe.grind %></td>
					<td><%= recipe.extraction %></td>
					<td><%= recipe.taste.t_sour%></td>
					<td><%= recipe.taste.t_sweet%></td>
					<td><%= recipe.taste.t_bitter%></td>
					<td><%= recipe.taste.t_aroma%></td>
					<td><%= recipe.taste.t_fullbody%></td>
					<td><%= link_to 'Detail', recipe%></td>
						<% if current_user == recipe.bean.user %>
							<td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
							<td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
						<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>
 <%= link_to "more" ,recipes_path%>
</div>
