<div class="beans">
	<h3><%= t('.recent_beans')%></h3>
		<%= render 'beans/beans', beans: @beans%>
		<%= link_to "more" ,beans_url%>
</div>

<div class="recipes">
	<h3><%= t('.recent_recipes')%></h3>
 	 <%= render 'recipes/recipes', recipes: @recipes%>
   <%= link_to "more" ,recipes_path%>
</div>

<div class="shops">
<h3><%= t('.recent_shop')%></h3>
	<%= render 'shops/shops', shops: @shops %>
	<%= link_to "more" ,shops_path%>
</div>
