<h3 class="center-align"><%=t('.resend_unlock_instructions')%></h3>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="input-field col s12">
		<i class="material-icons prefix">email</i>
		<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    <%= f.label :email %><br />
  </div><br />

  <div class="actions">
    <%= button_tag class: "waves-effect waves-light btn" do %><%= t('.resend_unlock_instructions') %><% end %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
