<%= form_with(model: recipe, local: true) do |r| %>

		<div class="field">
			<%= r.label :user %>
			<%= current_user.username %>
			<%= r.hidden_field :user_id, value: current_user.id %>
		</div>

		<div class="field">
			<%= r.label :bean_id %>
			<%= bean.country %>
			<%= r.hidden_field :bean_id, value: bean.id %>
		</div>

		<div class="field">
			<%= r.label :recipe_image %><br />
			<%= r.file_field :r_image %>
			<input id="recipe_filename" readonly type="text" value="" >
			<button type="button" id="recipe_select_file_button">Select</button>
  	</div>

		<div class="field">
			<%= r.label :name %>
			<%= r.text_field :name%>
		</div>

		<div class="field">
			<%= r.label :grind %>
			<%= r.select :grind, [["Coarse", "Coarse"],["Medium-Coarse", "Medium-Coarse"],
			["Medium", "Medium"],["Medium-Fine", "Medium-Fine"],["Fine", "Fine"]], value: ''%>
		</div>

		<div class="field">
			<%= r.label :amount %>
			<%= r.number_field :amount, value: 10%> <span>g</span>
		</div>

		<div class="field">
			<%= r.label :extraction %>
			<%= r.select :extraction, [["Paper-Filter", "paperfilter"],["Metal-Filter", "metalfilter"],
			["Flannel", "flannel"],["French-Press", "frenchpress"],["Espresso", "espresso"],
			["Aero-Press", "aeropress"],["Water-Drip","waterdrip"],["Cofee-Maker", "cofeemaker"]] %>
		</div>

		<div class="field">
			<%= r.label :temperature %> <span>(°C)</span>
			<%= r.number_field :temperature, value: 90, step: 5%>
		</div>

	<%= r.fields_for :taste do |t| %>

		<div class="field">
			<%= t.label :sour%>
			<%= t.number_field :t_sour,min: 1, max: 5 %>
		</div>

		<div class="field">
			<%= t.label :sweet %>
			<%= t.number_field :t_sweet,min: 1, max: 5%>
		</div>

		<div class="field">
			<%= t.label :bitter %>
			<%= t.number_field :t_bitter,min: 1, max: 5%>
		</div>

		<div class="field">
			<%= t.label :aroma %>
			<%= t.number_field :t_aroma,min: 1, max: 5 %>
		</div>

		<div class="field">
			<%= t.label :fullbody %>
			<%= t.number_field :t_fullbody,min: 1, max: 5 %>
		</div>

		<div class="field">
			<%= t.label :comment %>
			<%= t.text_area :t_comment %>
		</div>

	<% end %>

		<div class="actions">
			<%= r.submit %>
		</div>

<% end %>
