<% if recipe.present? %>

	<div class="row">
		<div id="recipe_image" class="card col l6 s12 right" id="card_option">
			<% if recipe.recipe_image? %>
			<%= image_tag recipe.recipe_image.to_s, size: '630x470'%>
			<% else %>
			<%= image_tag 'C0FEE.png', size: '630x550' %>
			<% end %>

			<div id="chartContainer">
				<canvas id="recipeChart"></canvas>
			</div>

			<div class="card-action center-align" id="card_option">
				<span id="recipe_like_button_<%= recipe.id %>" style="text-align: center"><%= render 'recipe_likes/like_recipe_button', recipe: recipe %></span>
				<span>
				<% if current_user == recipe.user %>
					<%= render 'recipes/edit_recipe_link', recipe: recipe %>
					<%= render 'recipes/delete_recipe_link', recipe: recipe %>
				<% end %>
				</span>
			</div>
		</div>

		<div id="recipe_info" class="col l6 s12 left">
			<table>
				<tbody>
					<tr>
						<th><i class="medium material-icons tooltipped" data-position="right" data-tooltip=<%= User.model_name.human %> >person</i></th>
						<td>
							<% if recipe.user.avatar?%>
								<%= link_to image_tag(recipe.user.avatar_url(:thumb).to_s, id: 'thumbnail'), user_path(id: recipe.user.id)%>
							<% else %>
								<%= image_tag 'no_avatar.png', id: 'thumbnail' %>
							<% end %>
						<%= link_to recipe.user.username, user_path(id: recipe.user.id) %>
						</td>
					</tr>

					<tr class="center-align">
						<th><i class="medium material-icons tooltipped" data-position="right" data-tooltip=<%= Recipe.human_attribute_name(:hot_ice)%> >swap_vert</i></th>
						<td><%= recipe.hot_ice_i18n %></td>
					</tr>

					<tr>
						<th><%= image_tag 'bean.png',size: '50x50', class: "tooltipped", data:{position: "right",tooltip: Recipe.human_attribute_name(:bean) } %></th>
						<td><%= link_to recipe.bean.country_i18n, bean_path(id: recipe.bean.id) %></td>
					</tr>

					<%# <% if recipe.grind.present? %>
					<tr>
						<th><i class="medium material-icons tooltipped" data-position="right" data-tooltip=<%= Recipe.human_attribute_name(:grind)%> >grain</i></th>
						<td><%= recipe.grind_i18n %></td>
					</tr>
					<%# <% end %>

					<%# <% if recipe.amount.present? %>
					<tr>
						<th><i class="fas fa-weight fa-4x tooltipped" data-position="right" data-tooltip=<%= Recipe.human_attribute_name(:amount)%> ></i></th>
						<td><%= recipe.amount %><% if I18n.locale == :ja && recipe.amount.present? %>g<% elsif I18n.locale == :en %>oz<%end%> / <%= recipe.extracted_amount %><% if I18n.locale == :ja && recipe.amount.present?%>g<% elsif I18n.locale == :en %>oz<%end%></td>
					</tr>
					<%# <% end %>

					<%# <% if recipe.extraction.present? %>
					<tr>
						<th><i class="medium material-icons tooltipped" data-position="right" data-tooltip=<%= Recipe.human_attribute_name(:extraction)%> >local_drink</i></th>
						<td><%= recipe.extraction_i18n %></td>
					</tr>
					<%# <% end %>

					<%# <% if recipe.temperature.present? %>
					<tr>
						<th><i class="fas fa-thermometer-three-quarters fa-4x tooltipped" data-position="right" data-tooltip=<%= Recipe.human_attribute_name(:temperature)%> ></i></th>
						<td><%= recipe.temperature %><% if recipe.temperature.present?%>℃<%end%></td>
					</tr>
					<%# <% end %>

					<%# <% if recipe.bean.roast_date.present? %>
					<tr>
						<th><i class="medium material-icons prefix tooltipped" data-position="right" data-tooltip=<%= t('.from_roast_date') %> >date_range</i></th>
						<td><%= from_roast_date(recipe) %><%= t('.day') if recipe.bean.roast_date? %></td>
					</tr>
					<%# <% end %>

					<%# <% if recipe.taste.t_comment.present? %>
					<tr>
						<th><i class="medium material-icons tooltipped" data-position="right" data-tooltip=<%= Taste.human_attribute_name(:t_comment)%> >message</i></th>
						<td><%= recipe.taste.t_comment %></td>
					</tr>
					<%# <% end %>

					<tr>
						<th><i class="medium material-icons prefix tooltipped" data-position="right" data-tooltip=<%= Recipe.human_attribute_name(:updated_at)%> >access_time</i></th>
						<td><%= l recipe.updated_at %></td>
					</tr>
			</tbody>
		</table>
		</div>
	</div>
	<%= link_to t('.return'), :back %>
<% end %>

<script>
  I18n.defaultLocale = "<%= I18n.default_locale %>";
  I18n.locale = "<%= I18n.locale %>";
  I18n.fallbacks = true;
</script>

<script>
$(window).on('load', function() {
    $('.card-action .material-icons').removeClass('small');
		$('.card-action .material-icons').addClass('medium');
});
</script>

<script>
var ctx = document.getElementById("recipeChart").getContext('2d');
ctx.canvas.height = 380;
Chart.defaults.global.defaultFontSize = 15;

var beanChart = new Chart(ctx,{
	type: 'radar',
	data: {
		labels:[I18n.t('js.sour'),I18n.t('js.sweet'),I18n.t('js.bitter'),I18n.t('js.aroma'),I18n.t('js.fullbody')],
		datasets: [{
			data: [<%= recipe.taste.t_sour %>, <%= recipe.taste.t_sweet %>, <%= recipe.taste.t_bitter %>, <%= recipe.taste.t_aroma %>, <%= recipe.taste.t_fullbody %>],
			backgroundColor: 'rgba(235,9,212,0.2)',
			borderColor: "Brown",
			pointStyle: "circle"
		}]
	},
	options: {
		responsive: true,
		maintainAspectRatio: false,
		tooltips: {
			enabled: true,
			callbacks: {
					label: function(tooltipItem, data) {
							return data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
					}
			}
		},
		legend: {
			display: false
				 },
		scale: {
			ticks: {
				suggestedMin: 0,
				uggestedMax: 5,
				stepSize: 1
			},
			pointLabels: {
            fontSize: 20
			},
			gridLines: {
				display: true,
			},
			angleLines: {
				display: true
			}

		}
	}
});
</script>
