<% if recipe.present? %>
		<table>
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th><%= Recipe.human_attribute_name(:name)%></th>
					<th><%= Recipe.human_attribute_name(:bean)%></th>
					<th><%= Recipe.human_attribute_name(:grind)%></th>
					<th><%= Recipe.human_attribute_name(:amount)%></th>
					<th><%= Recipe.human_attribute_name(:extraction)%></th>
					<th><%= Recipe.human_attribute_name(:temperature)%></th>
					<th><%= Taste.human_attribute_name(:t_sour)%></th>
					<th><%= Taste.human_attribute_name(:t_sweet)%></th>
					<th><%= Taste.human_attribute_name(:t_bitter)%></th>
					<th><%= Taste.human_attribute_name(:t_aroma)%></th>
					<th><%= Taste.human_attribute_name(:t_fullbody)%></th>
					<th><%= Taste.human_attribute_name(:t_comment)%></th>
					<% Array(recipe).each do |recipe| %>
						<% unless current_user == recipe.user%>
							<th><%=User.model_name.human%></th>
						<% end %>
					<% end %>
					<th>Like</th>
				</tr>
			</thead>

		<div class='bean_information'>
			<tbody>
				<% Array(recipe).each do |recipe| %>
					<tr>
						<td id="recipe_image_td">
								<% if recipe.recipe_image? %>
									<%= image_tag recipe.recipe_image.to_s, :id => 'recipe_image'%>
								<% else%>
									<%= image_tag 'C0FEE.png', :id => 'no_recipe_image'%>
								<% end %>
							</td>
						<td><%= recipe.name %></td>
						<td><%= link_to recipe.bean.country, bean_path(id: recipe.bean.id) %></td>
						<td><%= recipe.grind %></td>
						<td><%= recipe.amount %><% if recipe.amount.present?%>g<%end%></td>
						<td><%= recipe.extraction %></td>
						<td><%= recipe.temperature %><% if recipe.temperature.present?%>℃<% end %></td>
						<td><%= recipe.taste.t_sour%></td>
						<td><%= recipe.taste.t_sweet%></td>
						<td><%= recipe.taste.t_bitter%></td>
						<td><%= recipe.taste.t_aroma%></td>
						<td><%= recipe.taste.t_fullbody%></td>
						<td><%= recipe.taste.t_comment%></td>
						<% unless current_user == recipe.user %>
							<td><%= link_to recipe.user.username, user_path(id: recipe.user.id)%></td>
						<% end %>
						<td><%= @count_recipe_likes %></td>
						<td><%= render 'recipe_likes/like_recipe_button', recipe: recipe unless current_user == recipe.user %></td>
						</tr>
					</tbody>
					</table>
				<% if current_user == recipe.user%>
			<td><span><%= link_to t('.edit'), edit_recipe_path(recipe) %></span></td>
			<td><span><%= link_to t('.delete'), recipe, method: :delete, data: { confirm: 'Are you sure?' } %></span></td>
		<% end %>
	<% end %>
	</div>
<% end %>
