<div class="recipes">
<h1>ALL Recipes</h1>

	<table>
		<thead>
			<tr>
				<th>User</th>
				<th>Bean</th>
				<th>Name</th>
				<th>Grind</th>
				<th>Extraction</th>
				<th>Sour</th>
				<th>Sweet</th>
				<th>Bitter</th>
				<th>Aroma</th>
				<th>Fullbody</th>

			</tr>
		</thead>

		<tbody>
			<% Array(@recipes).each do |recipe| %>
				<% Array(recipe.taste).each do |taste| %>
					<tr>
						<td><%= recipe.bean.user.username %></td>
						<td><%= link_to recipe.bean.country, bean_path(id: recipe.bean.id) %></td>
						<td><%= recipe.name %></td>
						<td><%= recipe.grind %></td>
						<td><%= recipe.extraction %></td>
						<td><%= taste.t_sour%></td>
						<td><%= taste.t_sweet%></td>
						<td><%= taste.t_bitter%></td>
						<td><%= taste.t_aroma%></td>
						<td><%= taste.t_fullbody%></td>
						<td><%= link_to 'Detail', recipe%></td>
						<% if current_user == recipe.bean.user %>
							<td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
							<td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
						<% end %>
					</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>
 <%= link_to "more" ,recipes_path%>
</div>
