<div class="recipes">
 <h1>ALL Recipes</h1>
	<% if @recipes.present? %>
		<table>
			<thead>
				<tr>
					<th>Image</th>
					<th>User</th>
					<th>Bean</th>
					<th>Name</th>
					<th>Grind</th>
					<th>Extraction</th>
					<th>Sour</th>
					<th>Sweet</th>
					<th>Bitter</th>
					<th>Aroma</th>
					<th>Fullbody</th>

				</tr>
			</thead>

			<tbody>
				<% Array(@recipes).each do |recipe| %>
						<tr>
							<td><%= image_tag recipe.recipe_image.to_s, :id => "recipe_image" if recipe.recipe_image? %></td>
							<td><%= recipe.bean.user.username %></td>
							<td><%= link_to recipe.bean.country, bean_path(id: recipe.bean.id) %></td>
							<td><%= recipe.name %></td>
							<td><%= recipe.grind %></td>
							<td><%= recipe.extraction %></td>
							<td><%= recipe.taste.t_sour%></td>
							<td><%= recipe.taste.t_sweet%></td>
							<td><%= recipe.taste.t_bitter%></td>
							<td><%= recipe.taste.t_aroma%></td>
							<td><%= recipe.taste.t_fullbody%></td>
							<td><%= link_to 'Detail', recipe%></td>
							<% if current_user == recipe.bean.user %>
								<td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
								<td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
							<% end %>
						</tr>
				<% end %>
			</tbody>
		</table>
	<% end %>
</div>
