<div id="user_plofile">
	<% if @user.avatar?%>
		<%= image_tag @user.avatar.to_s, :size => '80x80' %>
	<% else %>
		<%= image_tag 'no_avatar.png', :size => '80x80', :id => 'no_image_avatar' %>
	<% end %></br>
	<div id="user_name"><%= @user.username %></div>
</div>

<div class="beans">
	<h1>Beans</h1>
	<%= render 'beans/bean', bean: @beans%>
</div>

<div class="recipes">
	<h1>Recipes</h1>
	<%= render 'recipes/recipe', recipe: @recipes%>
</div>
