<div id="user_plofile" style="text-align: center">
	<% if @user.avatar?%>
		<%= image_tag @user.avatar.to_s, :size => '80x80' %>
	<% else %>
		<%= image_tag 'no_avatar.png', :size => '80x80', :id => 'no_image_avatar' %>
	<% end %></br>
	<div id="user_name"><%= @user.username %></div>
</div>

<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s2"><a href="#registered_beans"><%=t('.registered_beans')%></a></li>
        <li class="tab col s2"><a href="#created_recipes"><%=t('.created_recipes')%></a></li>
        <li class="tab col s4"><a href="#liked_beans"><%=t('.liked_beans')%></a></li>
        <li class="tab col s2"><a href="#liked_recipes"><%=t('.liked_recipes')%></a></li>
				<li class="tab col s2"><a href="#liked_shops"><%=t('.liked_shops')%></a></li>
      </ul>
    </div>
    <div id="registered_beans" class="col s12"><%= render 'beans/beans', beans: @beans%></div>
    <div id="created_recipes" class="col s12"><%= render 'recipes/recipes', recipes: @recipes%></div>
    <div id="liked_beans" class="col s12"><%= render 'beans/beans', beans: @liked_beans%></div>
    <div id="liked_recipes" class="col s12"><%= render 'recipes/recipes', recipes: @liked_recipes%></div>
		<div id="liked_shops" class="col s12"><%= render 'shops/shops', shops: @liked_shops%></div>
</div>

