<div id="user_plofile">
	<% if @user.avatar?%>
		<%= image_tag @user.avatar.to_s, :size => '80x80' %>
	<% else %>
		<%= image_tag 'no_avatar.png', :size => '80x80', :id => 'no_image_avatar' %>
	<% end %></br>
	<div id="user_name"><%= @user.username %></div>
</div>

<div class="beans">
	<h3><%=t('.registered_beans')%></h3>
	<%= render 'beans/bean', bean: @beans%>
</div>

<div class="recipes">
	<h3><%=t('.created_recipes')%></h3>
	<%= render 'recipes/recipe', recipe: @recipes%>
</div>

<div class="liked_beans">
	<h3><%=t('.liked_beans')%></h3>
	<%= render 'beans/bean', bean: @liked_beans%>
</div>

<div class="liked_recipes">
	<h3><%=t('.liked_recipes')%></h3>
	<%= render 'recipes/recipe', recipe: @liked_recipes%>
</div>

