<% if beans.present? %>
	<table>
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
			</tr>
		</thead>

		<tbody>
			<% Array(beans).each do |bean| %>
			 <% unless bean.country.nil? %>
				<tr>
					<td id="bean_image_td">
					<% if bean.bean_image? %>
						<%=link_to image_tag(bean.bean_image.to_s, :id => 'bean_image'), bean_path(bean)%>
					<% else%>
						<%=link_to image_tag('C0FEE.png', :id => 'no_bean_image'), bean_path(bean)%>
					<% end %>
					</td>
					<td><%= bean.country %></td>
					<td><%= bean.area %></td>
					<td><%= bean.roast_i18n %></td>
					<td><%= bean.impression.i_sour%></td>
					<td><%= bean.impression.i_sweet%></td>
					<td><%= bean.impression.i_bitter%></td>
					<td><%= link_to bean.shop.name, shop_path(id: bean.shop.id) %></td>

					<% if bean.user == current_user %>
						<td><%= current_user.username %></td>
					<% else %>
						<td><%= link_to bean.user.username, user_path(id: bean.user.id) %></td>
					<% end %>

					<% if user_signed_in? && @liked_beans.nil? %>
						<td id="bean_like_button_<%= bean.id %>"><%= render 'bean_likes/like_bean_button',bean: bean %></td>
					<% else %>
						<td><%= bean_liked_counts(bean) %>  Likes</td>
					<% end %>

					<td><%= render 'recipes/make_recipe_button', bean: bean %></td>

					<% if current_user == bean.user %>
						<td><%= render 'edit_bean_link', bean: bean %></td>
						<td><%= render 'delete_bean_link', bean: bean %></td>
					<% else %>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					<% end %>

					</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>
	<%= paginate beans %>
<% end %>
