<% if beans.present? %>
		<% Array(beans).each do |bean| %>
			<div class="col s12 m6 l3">
				<div class="card large">
					<div class="card-image">

						<% if bean.bean_image? %>
							<%=link_to image_tag(bean.bean_image.to_s, id:'beans_image'), bean_path(bean)%>
						<% else%>
							<%=link_to image_tag('C0FEE.png', id:'no_beans_image'), bean_path(bean)%>
						<% end %>
						<!--<div class="card-title"><%= bean.country%></div>-->

					</div>
					<div class="card-content center-align">
						<div>
							<%= image_tag "#{bean.country}.png" ,class: "tooltipped",id: "country_flag",data:{position:"right",tooltip: bean.country_i18n } %>
						</div>
						<span>
							<% if bean.user.avatar?%>
								<%= link_to image_tag(bean.user.avatar_url(:thumb).to_s, size: '60x60', id: 'thumbnail'), user_path(id: bean.user.id)%>
							<% else %>
								<%= image_tag 'no_avatar.png', size: '60x60', id: 'thumbnail' %>
							<% end %>
						</span>
						<span>
							<%= link_to "@#{bean.user.username}", user_path(id: bean.user.id) %>
						</span>
						<% if user_signed_in? && @liked_beans.nil? %>
							<p id="bean_like_button_<%= bean.id %>"><%= render 'bean_likes/like_bean_button',bean: bean %></p>
						<% else %>
							<p class="red-text"><i class="material-icons">favorite</i><%= bean_liked_counts(bean) %></p>
						<% end %>
					</div>

					<!--<div class="card-action">
						<span><%= render 'recipes/make_recipe_button', bean: bean %></span>
						<% if current_user == bean.user %>
							<span><%= render 'beans/edit_bean_link', bean: bean %></span>
							<span><%= render 'beans/delete_bean_link', bean: bean %></span>
						<% end %>
					</div>-->
					<div class="card-tabs">
						<ul class="tabs tabs-fixed-width">
							<li class="tab"><a href="#test4">Test 1</a></li>
							<li class="tab"><a class="active" href="#test5">Test 2</a></li>
							<li class="tab"><a href="#test6">Test 3</a></li>
						</ul>
					</div>
					<div class="card-content grey lighten-4">
						<div id="test4">Test 1</div>
						<div id="test5">Test 2</div>
						<div id="test6">Test 3</div>
					</div>
				</div>
			</div>}
		<% end %>
	<!--<table>
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
			</tr>
		</thead>

		<tbody>
			<% Array(beans).each do |bean| %>
				<tr>
					<td id="bean_image_td">
					<% if bean.bean_image? %>
						<%=link_to image_tag(bean.bean_image.to_s, id:'beans_image'), bean_path(bean)%>
					<% else%>
						<%=link_to image_tag('C0FEE.png', id:'no_beans_image'), bean_path(bean)%>
					<% end %>
					</td>
					<td><%= image_tag "#{bean.country}.png" ,class: "tooltipped",id: "country_flag",data:{position:"right",tooltip: bean.country_i18n } %></td>
					<td><%= bean.roast_i18n %></td>
					<td><%= bean.impression.i_sour%></td>
					<td><%= bean.impression.i_sweet%></td>
					<td><%= bean.impression.i_bitter%></td>
					<td><%= link_to bean.shop.name, shop_path(id: bean.shop.id) %></td>

					<% if bean.user == current_user %>
						<td><%= current_user.username %></td>
					<% else %>
						<td><%= link_to bean.user.username, user_path(id: bean.user.id) %></td>
					<% end %>

					<% if user_signed_in? && @liked_beans.nil? %>
						<td id="bean_like_button_<%= bean.id %>"><%= render 'bean_likes/like_bean_button',bean: bean %></td>
					<% else %>
						<td class="red-text"><i class="material-icons">favorite</i><%= bean_liked_counts(bean) %></td>
					<% end %>

					<td><%= render 'recipes/make_recipe_button', bean: bean %></td>

					<% if current_user == bean.user %>
						<td><%= render 'beans/edit_bean_link', bean: bean %></td>
						<td><%= render 'beans/delete_bean_link', bean: bean %></td>
					<% else %>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					<% end %>
					</tr>
			<% end %>
		</tbody>
	</table>
<% end %>
-->
