<%= form_with(model: bean ,local: true) do |b| %>

	<div class="field">
		<%= b.label :user %>
		<%= b.hidden_field :user_id, value: current_user.id %>
		<%= current_user.username %>
	</div>

	<div class="field">
		<%= b.label :shop %>
		<%= b.hidden_field :shop_id, value: shop.id %>
		<%= shop.name %>
	</div>

	<div class="field">
    <%= b.label :bean_image %><br />
    <%= b.file_field :bean_image %>
		<input id="bean_filename" readonly type="text" value="" >
		<button type="button" id="bean_select_file_button">Select</button>
  </div>

	<div class="field">
		<%= b.label :bean_image %>
		<%= b.file_field :bean_image %>
	</div>

	<div class="field">
		<%= b.label :country %>
		<%= b.text_field :country %>
	</div>

	<div class="field">
		<%= b.label :area %>
		<%= b.text_field :area %>
	</div>

	<div class="field">
		<%= b.label :variety %>
		<%= b.text_field :variety %>
	</div>

	<div class="field">
		<%= b.label :farm %>
		<%= b.text_field :farm %>
	</div>

	<div class="field">
		<%= b.label :process %>
		<%= b.select :process,[["Washed", "Washed"],["Natural", "Natural"],
			["Semi-Washed", "Semi-Washed"],["White-Washed","White-Washed"],["Golden-Washed","Golden-Washed"],
			["Yellow-Washed","Yellow-Washed"],["Red-Washed","Red-Washed"],["Black-Washed","Black-Washed"],
			["Sumatran","Sumatran"]]%>
	</div>

	<div class="field">
		<%= b.label :roast %>
		<%= b.select :roast,[["Light","Light"],["Cinnamon","Cinnamon"],["Mediam","Mediam"],
			["High","High"],["City","City"],["Fullcity","Fullcity"],["French","French"],["Italian","Italian"]] %>
	</div>

	<div class="field">
		<%= b.label :price %>
		<%= b.number_field :price, step: 10 %>/100g
	</div>

	<div class="field">
		<%= b.label :url %>
		<%= b.text_field :bean_url %>
	</div>

		<%= b.fields_for :impression do |i| %>

			<div class="field">
				<%= i.label :sour%>
				<%= i.number_field :i_sour,min: 1, max: 5 %>
			</div>

			<div class="field">
				<%= i.label :sweet %>
				<%= i.number_field :i_sweet,min: 1, max: 5%>
			</div>

			<div class="field">
				<%= i.label :bitter %>
				<%= i.number_field :i_bitter,min: 1, max: 5%>
			</div>

			<div class="field">
				<%= i.label :comment %>
				<%= i.text_area :i_comment %>
			</div>

		<% end %>

  <div class="actions">
    <%= b.submit %>
  </div>

<% end %>
