<%= form_with(model: bean ,local: true) do |b| %>
	<%= render 'layouts/error_messages', model: b.object %>

		<%= b.hidden_field :user_id, value: current_user.id %>
		<%= b.hidden_field :shop_id, value: shop.id%>

	<div class="file-field input-field col s12">
		<button type="button" id="bean_select_file_button" class="waves-effect waves-light btn-small">
		<%=t('.select_bean_image')%><i class="material-icons right">photo</i></button>
    <%= b.file_field :bean_image %>
		<div class="file-path-wrapper">
			<input id="bean_filename" readonly type="text" value="" class="file-path validate">
    </div>
  </div><br />

	<div class="input-field col s12">
		<i class="material-icons prefix">public</i>

		<%= b.select :country, options_for_select(Bean.countries.keys.map {|k| [I18n.t("enums.bean.country.#{k}"), "#{k}",{data:{ icon: "/assets/#{k}.png"} }] }),
				{include_blank: true}, {class: 'icons'} %>

<!--	<select name="bean[country]" id="bean_country" class="icons">
 		<option value=<%= Bean.countries.keys.map {|k| [I18n.t("enums.bean.country.#{k}"),k]} %> data-icon=<%= Bean.countries.keys.map {|k| "/assets/#{k}.png"} %>><%= Bean.countries.keys.map {|k| [I18n.t("enums.bean.country.#{k}"),k]} %></option>
		<option value="Yemen" data-icon="/assets/Yemen.png" class="left"><%=I18n.t("enums.bean.country.Yemen")%></option>
		<option value="Ethiopia" data-icon="/assets/Ethiopia.png" class="left"><%=I18n.t("enums.bean.country.Ethiopia")%></option>
		<option value="Tanzania" data-icon="/assets/Tanzania.png" class="left"><%=I18n.t("enums.bean.country.Tanzania")%></option>
		<option value="Kenya" data-icon="/assets/Kenya.png" class="left"><%=I18n.t("enums.bean.country.Kenya")%></option>
		<option value="Rwanda" data-icon="/assets/Rwanda.png" class="left"><%=I18n.t("enums.bean.country.Rwanda")%></option>
		<option value="Burundi" data-icon="/assets/Burundi.png" class="left"><%=I18n.t("enums.bean.country.Burundi")%></option>
		<option value="India" data-icon="/assets/India.png" class="left"><%=I18n.t("enums.bean.country.India")%></option>
		<option value="Indonesia" data-icon="/assets/Indonesia.png" class="left"><%=I18n.t("enums.bean.country.Indonesia")%></option>
		<option value="PNG" data-icon="/assets/PNG.png" class="left"><%=I18n.t("enums.bean.country.PNG")%></option>
		<option value="Mexico" data-icon="/assets/Mexico.png" class="left"><%=I18n.t("enums.bean.country.Mexico")%></option>
		<option value="Guatemala" data-icon="/assets/Guatemala.png" class="left"><%=I18n.t("enums.bean.country.Guatemala")%></option>
		<option value="Costa_Rica" data-icon="/assets/Costa_Rica.png" class="left"><%=I18n.t("enums.bean.country.Costa_Rica")%></option>
		<option value="El_Salvador" data-icon="/assets/El_Salvador.png" class="left"><%=I18n.t("enums.bean.country.El_Salvador")%></option>
		<option value="Nicaragua" data-icon="/assets/Nicaragua.png" class="left"><%=I18n.t("enums.bean.country.Nicaragua")%></option>
		<option value="Honduras" data-icon="/assets/Honduras.png" class="left"><%=I18n.t("enums.bean.country.Honduras")%></option>
		<option value="Panama" data-icon="/assets/Panama.png" class="left"><%=I18n.t("enums.bean.country.Panama")%></option>
		<option value="Dominica" data-icon="/assets/Dominica.png" class="left"><%=I18n.t("enums.bean.country.Dominica")%></option>
		<option value="Haiti" data-icon="/assets/Haiti.png" class="left"><%=I18n.t("enums.bean.country.Haiti")%></option>
		<option value="Jamaica" data-icon="/assets/Jamaica.png" class="left"><%=I18n.t("enums.bean.country.Jamaica")%></option>
		<option value="Brazil" data-icon="/assets/Brazil.png" class="left"><%=I18n.t("enums.bean.country.Brazil")%></option>
		<option value="Colombia" data-icon="/assets/Colombia.png" class="left"><%=I18n.t("enums.bean.country.Colombia")%></option>
		<option value="Ecuador" data-icon="/assets/Ecuador.png" class="left"><%=I18n.t("enums.bean.country.Ecuador")%></option>
		<option value="Peru" data-icon="/assets/Peru.png" class="left"><%=I18n.t("enums.bean.country.Peru")%></option>
		<option value="Bolivia" data-icon="/assets/Bolivia.png" class="left"><%=I18n.t("enums.bean.country.Bolivia")%></option>
		<option value="Hawaii" data-icon="/assets/Hawaii.png" class="left"><%=I18n.t("enums.bean.country.Hawaii")%></option>
		<option value="Cuba" data-icon="/assets/Cuba.png" class="left"><%=I18n.t("enums.bean.country.Cuba")%></option>
		<option value="East_Timor" data-icon="/assets/East_Timor.png" class="left"><%=I18n.t("enums.bean.country.East_Timor")%></option>
		</select>
-->
		<%= b.label :country %>
	</div><br />

	<div class="input-field col s12">
		<i class="material-icons prefix">place</i>
		<%= b.text_field :area, class: "autocomplete" %>
		<%= b.label :area %>
	</div><br />

	<div class="input-field col s12">
		<i class="material-icons prefix">home</i>
		<%= b.text_field :farm, class: "autocomplete"%>
		<%= b.label :farm %><br />
	</div><br />

	<div class="input-field col s12">
		<i class="material-icons prefix">local_florist</i>
		<%= b.text_field :variety, class: "autocomplete"%>
		<%= b.label :variety %><br />
	</div><br />

	<div class="input-field col s12">
		<i class="material-icons prefix">loop</i>
		<%= b.select :process, Bean.processes.keys.map {|k| [I18n.t("enums.bean.process.#{k}"),k]}, include_blank: true %>
		<%= b.label :process %><br />
	</div><br />

	<div class="input-field col s12">
		<i class="material-icons prefix">invert_colors</i>
		<%= b.select :roast, Bean.roasts.keys.map {|k| [I18n.t("enums.bean.roast.#{k}"),k]}, include_blank: true %>
		<%= b.label :roast %>
	</div><br />

	<div class="input-field col s12">
		<i class="material-icons prefix">date_range</i>
		<input type="text" name="bean[roast_date]" id="bean_roast_date" class="datepicker">
		<%= b.label :roast_date %>
	</div><br />

	<div class="input-field col s12">
		<i class="material-icons prefix">attach_money</i>
		<%= b.number_field :price, step: 10 %>
		<%= b.label t('.price')%>
	</div><br />

		<%= b.fields_for :impression do |i| %>

			<div class="input-field col s12">
				<i class="material-icons prefix">change_history</i>
				<%= i.select :i_sour,[[1,1],[2,2],[3,3],[4,4],[5,5]], include_blank: true %>
				<%= i.label :i_sour%>
			</div><br />

			<div class="input-field col s12">
				<i class="material-icons prefix">panorama_fish_eye</i>
				<%= i.select :i_sweet,[[1,1],[2,2],[3,3],[4,4],[5,5]], include_blank: true %>
				<%= i.label :i_sweet %>
			</div><br />

			<div class="input-field col s12">
				<i class="material-icons prefix">crop_square</i>
				<%= i.select :i_bitter,[[1,1],[2,2],[3,3],[4,4],[5,5]], include_blank: true %>
				<%= i.label :i_bitter %>
			</div><br />

			<div class="input-field col s12">
				<i class="material-icons prefix">message</i>
				<%= i.text_area :i_comment  %>
				<%= i.label :i_comment %><br />
			</div><br />

		<% end %>

  <div class="actions">
    <%= button_tag class: "waves-effect waves-light btn register_bean" do %><%=t('.register')%><% end %>
  </div>

<% end %>
<br />
