<%= form_with(model: bean ,local: true) do |b| %>
	<div class="field">
		<%= b.label :user_id %>
		<%= current_user.username%>
	</div>

	<div class="field">
		<%= b.label :bean_image %>
		<%= b.file_field :bean_image %>
	</div>

	<div class="field">
		<%= b.label :country %>
		<%= b.text_field :country %>
	</div>

	<div class="field">
		<%= b.label :area %>
		<%= b.text_field :area %>
	</div>

	<div class="field">
		<%= b.label :variety %>
		<%= b.text_field :variety %>
	</div>

	<div class="field">
		<%= b.label :farm %>
		<%= b.text_field :farm %>
	</div>

	<div class="field">
		<%= b.label :process %>
		<%= b.select :process,[["Washed", "washed"],["Natural", "natural"],
			["Semi-Washed", "semi_washed"],["White-Washed","white-washed"],["Golden-Washed","golden-washed"],
			["Yellow-Washed","yellow-washed"],["Red-Washed","red-washed"],["Black-Washed","black-washed"],
			["Sumatran","sumatran"]]%>
	</div>

	<div class="field">
		<%= b.label :price %>
		<%= b.number_field :price %>/100g
	</div>

	<div class="field">
		<%= b.label :url %>
		<%= b.text_field :bean_url %>
	</div>

	<%= b.fields_for :impression do |i| %>

		<div class="field">
			<%= i.label :sour%>
			<%= i.number_field :i_sour,min: 1, max: 5 %>
		</div>

		<div class="field">
			<%= i.label :sweet %>
			<%= i.number_field :i_sweet,min: 1, max: 5%>
		</div>

		<div class="field">
			<%= i.label :bitter %>
			<%= i.number_field :i_bitter,min: 1, max: 5%>
		</div>

		<div class="field">
			<%= i.label :comment %>
			<%= i.text_area :i_comment %>
		</div>

	<% end %>

  <div class="actions">
    <%= b.submit %>
  </div>

<% end %>
