<%= form_with(model: bean ,local: true) do |b| %>

	<div class="field">
		<%= b.hidden_field :user_id, value: current_user.id %>
	</div>

	<div class="field">
		<%= b.hidden_field :shop_id, value: shop.id %>
	</div>

	<div class="file-field input-field col s12">
		<button type="button" id="bean_select_file_button" class="waves-effect waves-light btn-small">
		<%=t('.select_bean_image')%><i class="material-icons right">photo</i></button>
    <%= b.file_field :bean_image, class: "autocomplete" %>
		<div class="file-path-wrapper">
			<input id="bean_filename" readonly type="text" value="" class="file-path validate">
    </div>
  </div><br />

	<div class="input-field col s12">
		<i class="material-icons prefix">public</i>
		<%= b.text_field :country, class: "autocomplete" %>
		<%= b.label :country %>
	</div><br />

	<div class="input-field col s12">
		<i class="material-icons prefix">place</i>
		<%= b.text_field :area, class: "autocomplete" %>
		<%= b.label :area %>
	</div><br />

	<div class="input-field col s12">
		<i class="material-icons prefix">home</i>
		<%= b.text_field :farm ,class: "autocomplete"%>
		<%= b.label :farm %><br />
	</div><br />

	<div class="input-field col s12">
		<i class="material-icons prefix">local_florist</i>
		<%= b.text_field :variety, class: "autocomplete"%>
		<%= b.label :variety %><br />
	</div><br />

	<div class="input-field col s12">
		<i class="material-icons prefix">loop</i>
		<%= b.select :process,[["精製方法は？",""],["ウォッシュド", "ウォッシュド"],["ナチュラル", "ナチュラル"],
			["パルプドナチュラル", "パルプドナチュラル"],["ホワイトハニー","ホワイトハニー"],["ゴールデンハニー","ゴールデンハニー"],
			["イエローハニー","イエローハニー"],["レッドハニー","レッドハニー"],["ブラックハニー","ブラックハニー"],
			["スマトラ方式","スマトラ方式"]]%>
		<%= b.label :process %><br />
	</div><br />

	<div class="input-field col s12">
		<i class="material-icons prefix">invert_colors</i>
		<%= b.select :roast,[["焙煎は？",""],["ライト","ライト"],["シナモン","シナモン"],["ミディアム","ミディアム"],
			["ハイ","ハイ"],["シティ","シティ"],["フルシティ","フルシティ"],["フレンチ","フレンチ"],["イタリアン","イタリアン"]]%>
		<%= b.label :roast %>
	</div><br />

	<div class="input-field col s12">
		<i class="material-icons prefix">attach_money</i>
		<%= b.number_field :price, step: 10, class: "autocomplete"%>
		<%= b.label t('.price')%>
	</div><br />

	<div class="input-field col s12">
		<i class="material-icons prefix">web</i>
		<%= b.text_field :bean_url, class: "autocomplete" %>
		<%= b.label :url %>
	</div><br />

		<%= b.fields_for :impression do |i| %>

			<div class="input-field col s12">
				<i class="material-icons prefix">change_history</i>
				<%= i.number_field :i_sour,min: 1, max: 5, class: "autocomplete"%>
				<%= i.label t('.sour')%>
			</div><br />

			<div class="input-field col s12">
				<i class="material-icons prefix">panorama_fish_eye</i>
				<%= i.number_field :i_sweet,min: 1, max: 5, class: "autocomplete"%>
				<%= i.label :i_sweet %>
			</div><br />

			<div class="input-field col s12">
				<i class="material-icons prefix">crop_square</i>
				<%= i.number_field :i_bitter,min: 1, max: 5, class: "autocomplete"%>
				<%= i.label :i_bitter %>
			</div><br />

			<div class="input-field col s12">
				<i class="material-icons prefix">message</i>
				<%= i.text_area :i_comment, class: "autocomplete" %>
				<%= i.label :i_comment %><br />
			</div><br />

		<% end %>

  <div class="actions">
    <%= button_tag class: "waves-effect waves-light btn", data: { confirm: t('.confirm') } do %><%=t('.register')%><% end %>
  </div>

<% end %>
<br />
