<%= form_with(model: bean ,local: true) do |b| %>

	<div class="field">
		<%= b.hidden_field :user_id, value: current_user.id %>
	</div>

	<div class="field">
		<%= b.hidden_field :shop_id, value: shop.id %>
		<%= t('.bought_shop')+shop.name %>
	</div>

	<div class="field">
    <%= b.label :bean_image %><br />
    <%= b.file_field :bean_image %>
		<input id="bean_filename" readonly type="text" value="" >
		<button type="button" id="bean_select_file_button" class="waves-effect waves-light btn">
		<i class="material-icons right">collections</i>画像を選ぶ</button>
  </div>

	<div class="field">
		<%= b.label :country %>
		<%= b.text_field :country %>
	</div>

	<div class="field">
		<%= b.label :area %>
		<%= b.text_field :area %>
	</div>

	<div class="field">
		<%= b.label :variety %>
		<%= b.text_field :variety %>
	</div>

	<div class="field">
		<%= b.label :farm %>
		<%= b.text_field :farm %>
	</div>

	<div class="field">
		<%= b.label :process %>
		<%= b.select :process,[["ウォッシュド", "ウォッシュド"],["ナチュラル", "ナチュラル"],
			["パルプドナチュラル", "パルプドナチュラル"],["ホワイトハニー","ホワイトハニー"],["ゴールデンハニー","ゴールデンハニー"],
			["イエローハニー","イエローハニー"],["レッドハニー","レッドハニー"],["ブラックハニー","ブラックハニー"],
			["スマトラ方式","スマトラ方式"]]%>
	</div>

	<div class="field">
		<%= b.label :roast %>
		<%= b.select :roast,[["ライト","ライト"],["シナモン","シナモン"],["ミディアム","ミディアム"],
			["ハイ","ハイ"],["シティ","シティ"],["フルシティ","フルシティ"],["フレンチ","フレンチ"],["イタリアン","イタリアン"]]%>
	</div>

	<div class="field">
		<%= b.label :price %>
		<%= b.number_field :price, step: 10 %>円/100g
	</div>

	<div class="field">
		<%= b.label :url %>
		<%= b.text_field :bean_url %>
	</div>

		<%= b.fields_for :impression do |i| %>

			<div class="field">
				<%= i.label :i_sour%>
				<%= i.number_field :i_sour,min: 1, max: 5 %>
			</div>

			<div class="field">
				<%= i.label :i_sweet %>
				<%= i.number_field :i_sweet,min: 1, max: 5%>
			</div>

			<div class="field">
				<%= i.label :i_bitter %>
				<%= i.number_field :i_bitter,min: 1, max: 5%>
			</div>

			<div class="field">
				<%= i.label :i_comment %>
				<%= i.text_area :i_comment %>
			</div>

		<% end %>

  <div class="actions">
    <%= b.submit %>
  </div>

<% end %>
