<%= form_with(scope: :search_bean, url: beans_path, method: :get, local: true) do |b|%>
	<div class="row">

	<div class="input-field col s12 l2">
		<i class="material-icons prefix">public</i>
		<%= b.select :country, options_for_select(Bean.countries.keys.map {|k| [I18n.t("enums.bean.country.#{k}"), "#{k}",{data:{ icon: "/assets/#{k}.png"} }] }), {include_blank: true}, {class: 'icons'} %>
		<%= b.label(:country,Bean.human_attribute_name(:country)) %>
	</div>

		<div class="input-field col s12 l2">
		<i class="material-icons prefix">invert_colors</i>
			<%= b.select :roast, Bean.roasts.keys.map {|k| [I18n.t("enums.bean.roast.#{k}"),k]}, include_blank: true %>
			<%= b.label(:roast,Bean.human_attribute_name(:roast)) %>
		</div>

		<div class="input-field col s12 l2">
			<i class="material-icons prefix">change_history</i>
			<%= b.select :i_sour,[[1,1],[2,2],[3,3],[4,4],[5,5]], include_blank: true, value: @bean_search_params[:i_sour] %>
			<%= b.label(:i_sour,Impression.human_attribute_name(:i_sour)) %>
		</div>

		<div class="input-field col s12 l2">
			<i class="material-icons prefix">panorama_fish_eye</i>
			<%= b.select :i_sweet,[[1,1],[2,2],[3,3],[4,4],[5,5]], include_blank: true, value: @bean_search_params[:i_sweet] %>
			<%= b.label(:i_sweet,Impression.human_attribute_name(:i_sweet)) %>
		</div>

		<div class="input-field col s12 l2">
			<i class="material-icons prefix">crop_square</i>
			<%= b.select :i_bitter,[[1,1],[2,2],[3,3],[4,4],[5,5]], include_blank: true, value: @bean_search_params[:i_bitter] %>
			<%= b.label(:i_bitter,Impression.human_attribute_name(:i_bitter)) %>
		</div>

  	<div class="actions col s12 l1">
			<%= b.submit t('.submit_search'),class:"btn waves-effect waves-light white" %>
		</div>

		<% if @bean_search_params.present? %>
			<div class="actions col s12 l1">
				<%= link_to t('.return'), beans_path, class:"btn waves-effect waves-light" %>
			</div>
		<% end %>

	</div>
<% end %>

<script>
$(function(){
    if (window.matchMedia( '(min-width: 600px)' ).matches) {
$(function(){
		$(".row").addClass("valign-wrapper");
		});
	};
});
</script>
