<%= form_with(scope: :search, url: beans_path, method: :get, local: true) do |b|%>
	<div class="row">
		<div class="input-field col s12 l2 ">
			<%= b.label(:country, Bean.human_attribute_name(:country)) %>
			<%= b.text_field :country, value: @search_params[:country], class: "autocomplete"%>
		</div>
		<div class="input-field col s12 l2 ">
			<%= b.label(:roast,Bean.human_attribute_name(:roast))%>
			<%= b.text_field :roast, value: @search_params[:roast],class: "autocomplete"%>
		</div>

		<div class="input-field col s12 l2 ">
			<%= b.label(:i_sour,Impression.human_attribute_name(:i_sour))%>
			<%= b.number_field :i_sour, value: @search_params[:i_sour],min: 1, max: 5, class: "autocomplete"%>
		</div>
		<div class="input-field col s12 l2 ">
			<%= b.label(:i_sweet,Impression.human_attribute_name(:i_sweet))%>
			<%= b.number_field :i_sweet, value: @search_params[:i_sweet],min: 1, max: 5, class: "autocomplete"%>
		</div>
		<div class="input-field col s12 l2 ">
			<%= b.label(:i_bitter,Impression.human_attribute_name(:i_bitter))%>
			<%= b.number_field :i_bitter, value: @search_params[:i_bitter],min: 1, max: 5, class: "autocomplete"%>
		</div>

			<%= b.submit t('.submit_search'),class:"btn waves-effect waves-light" %>
	</div>
<% end %>
