<h3 class="center-align"><%=t('.sign_in')%></h3>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="input-field col s12">
		<i class="material-icons prefix">email</i>
		<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    <%= f.label :email %><br />
  </div><br />

  <div class="input-field col s12">
		<i class="material-icons prefix">lock_outline</i>
		<%= f.password_field :password, autocomplete: "new-password" %>
    <%= f.label :password %><br />
  </div><br />

	<%= render "devise/shared/links" %>

    <%# <div class="field">
			<%= f.label :remember_me %>
      <%# <%= f.check_box :remember_me, class: "filled-in",checked:true %>
    <%# </div> %>

  <div class="actions">
    <%= button_tag class: "waves-effect waves-light btn" do %><%= t('.sign_in') %><% end %>
		<%#= link_to user_google_oauth2_omniauth_authorize_path, class: "waves-effect waves-light btn red white-text", style: "text-transform:capitalize", method: :post do %>
			<!--Googleアカウントでログイン-->
		<%# end %>
  </div><br />

<% end %>
