<%= form_with(model: @inquiry, local: true) do |f| %>

<h3 id="index_title">お問い合わせ</h3>

  <% if @inquiry.errors.any? %>
		<% @inquiry.errors.each do |attr, msg| %>
			<script type="text/javascript">
				M.toast({html: '<%= msg %>', classes: 'red accent-3'})
			</script>
		<% end %>
  <% end %>

  <table>
    <tr>
      <th>お名前<span class="red-text"> (必須)</span></th>
      <td><%= f.text_field :name %></td>
    </tr>

    <tr>
      <th>メールアドレス<span class="red-text"> (必須)</span></th>
      <td><%= f.text_field :email %></td>
    </tr>

    <tr>
      <th>問い合わせ内容<span class="red-text"> (必須)</span></th>
      <td><%= f.text_area :message %></td>
    </tr>

  </table>
	<a class="btn-small modal-trigger" href="#inquiry_submit_confirmation" >送信</a>

	<div id="inquiry_submit_confirmation" class="modal">
    <div class="modal-content red-text" >
      <h4 id="index_title">送信してよろしいですか？</h4>
    </div>
    <div class="modal-footer">
			<%= link_to "キャンセル","#", class: "modal-close btn-flat blue-text" %>
			<%= f.submit "送信",class: "btn-flat red white-text" %>
    </div>
  </div>
<% end %>
