<!DOCTYPE html>
<html>
  <head>
    <title>C0FEE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <nav>
				 <span><%=link_to　"C0FEE",root_url ,class:"logo"%></span>
          <% if user_signed_in? %>
            <strong><%= link_to_unless_current current_user.username, my_pages_show_path(id: current_user.id)%></strong>
            <%= link_to_unless_current 'Edit Profile', edit_user_registration_path %>
            <%= link_to_unless_current 'Log out', destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to_unless_current 'Sign up', new_user_registration_path %>
            <%= link_to_unless_current 'Log in', new_user_session_path %>
          <% end %>
        </nav>
    </header>

        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
